*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photofirst{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

img{
    width: 220px;
    height: 220px;
   

}

img:hover{
    box-shadow: 5px 10px 5px 10px;
    
    border: 2px solid ;
}

.firstbook{
    margin-left: 700px;
    margin-bottom: 200px;
}

.secondphoto{
    margin-top: 30px;
    border: 2px solid;
}

